@import './Index.scss';

.bodyContainer {
    @include flex-center;
    background-color: $back;
    flex-wrap: wrap;
    padding: 5vw 10vw;
}

@media (max-width:750px) {
    .bodyContainer {
        padding: 5vw;
    }
}

@media (max-width:500px) {
    .bodyContainer {
        padding: 3vw 5vw;
    }
}

@media (max-width:400px) {
    .bodyContainer {
        padding: 2vw 3vw;
    }
}