@import './Index.scss';

.footerContainer {
    text-align: center;
    padding: 20px;
    background-color: $back;

    p {
        opacity: 0;
        color: white;
        animation: footerLoad 300ms ease-in $foot-load forwards;
    }
}

@keyframes footerLoad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}